@using TestDISC.Models.ResultDISC
@using TestDISC.Models.User
@using TestDISC.Models.UtilsProject
@model (ResultDISCModel, UserCreate)

@{
    var resultDISC = Model.Item1;
    var userCreate = Model.Item2;
}

<div class="row">
    <div class="col-12">
        <div class="final-text-v2">
            <label class="mt-2">Trên đây chỉ là kết quả mô tả hành vi đặc thù và xu hướng dịch chuyển hành vi của @Utils.ConvertTitleUserVN(userCreate.titleid).ToLower() trong tương lai một cách đơn giản nhất.</label>
            <label class="mt-2">Để hiểu hơn về bản thân mình, về những điểm mạnh/hạn chế, những nhóm năng lực nào @Utils.ConvertTitleUserVN(userCreate.titleid).ToLower() đang muốn tập trung hơn để phát triển trong công việc hiện tại thì @Utils.ConvertTitleUserVN(userCreate.titleid).ToLower() có thể thực hiện thêm <strong style="color: #16aaff">BÀI TEST DISC QUỐC TẾ</strong> dưới đây nhé.</label>
            <label class="mt-4"><strong style="color: #16aaff">CÁC HẠNG MỤC ĐÁNH GIÁ CỦA BÀI TEST QUỐC TẾ</strong></label>
            <ul class="list-info">
                <li>
                    <span class="list-info__title">Đánh giá năng lực cá nhân</span>
                    <div class="mt-1">
                        Báo cáo 18 trang, chỉ ra:<ul class="list-info__sub-list">
                            <li>Thuộc tính cá nhân ở hiện tại của người dùng (chẳng hạn như: yếu tố tạo động lực, trường hợp muốn tránh né, sếp lý tưởng,…);</li>
                            <li>Xu hướng dịch chuyển thuộc tính trong tương lai;</li>
                            <li>Phân tích điểm mạnh và điểm yếu để tìm ra năng lực hành vi ở nhiều vị trí và lĩnh vực (bán hàng, lãnh đạo, chủ doanh nghiệp, quản lý, chuyên gia, người đào tạo…);</li>
                            <li>Vai trò trong nhóm và quan điểm trong công việc.</li>
                        </ul><span class="font-italic">Từ đó xác định được điểm mạnh/hạn chế của mình, để có kế hoạch phát triển phù hợp trong tương lai</span>
                    </div>
                </li>
                <li><span class="list-info__title">Đánh giá một cặp bất kỳ để lựa chọn nhân sự theo chiến lược của doanh nghiệp</span></li>
                <li><span class="list-info__title">Đánh giá sức mạnh của tập thể dành cho doanh nghiệp</span></li>
                <li><span class="list-info__title">Đánh giá năng lực bán hàng chuyên sâu dành cho đội ngũ bán hàng</span></li>
                <li><span class="list-info__title">Đánh giá năng lực làm cha mẹ dành cho bậc phụ huynh</span></li>
            </ul>
        </div>
        <div class="final-text-v2">
            <ul class="list-intro">
                <li><a href="https://www.youtube.com/watch?v=heVoydKWcKs" target="_blank">Xem livestreeam chia sẻ ứng dụng phân tích DISC từ Chuyên gia DISC Lê Thanh Lâm</a></li>
                <li><a href="https://topskills.com.vn/test-disc-quoc-te/" target="_blank">Chi tiết thông tin về BÀI TEST DISC QUỐC TẾ</a></li>
            </ul>
        </div>
        <div class="final-text-v2">Nếu có bất kỳ thắc mắc nào hoặc cần hướng dẫn đọc Bảng kết quả phân tích và đánh giá năng lực hành vi DISC thì đừng ngần ngại phản hồi ngay với chúng tôi! TOPSKILLS luôn sẵn sàng với mọi vấn đề của @Utils.ConvertTitleUserVN(userCreate.titleid).ToLower().</div>
        <hr />
        <div class="final-text-v2 final-text__last pre-line">
            <strong>CÔNG TY CỔ PHẦN ĐÀO TẠO KỸ NĂNG LÃNH ĐẠO TOPSKILLS</strong>
            Tòa nhà Aloha, Lầu 8, 55 Trương Quốc Dung, P.10, Q. Phú Nhuận, TP.HCM
            Hotline: <a href="tel:0903893519">0903.89.35.19</a> | <a href="tel:0903893519">0903.89.35.19</a> (Ms. Ngọc Huyền)
            Email: <a class="link" herf="mailto:hcns@topskills.com.vn">hcns@topskills.com.vn</a>
            Website: <a class="link" href="https://www.topskills.com.vn" target="_blank">www.topskills.com.vn</a>
            Facebook: <a class="link" href="https://www.facebook.com/TopskillsVN" target="_blank">https://www.facebook.com/TopskillsVN</a>
            Youtube: <a class="link" href="https://www.youtube.com/channel/UCgFhH9Q6x4Z8Hj9t9UBoxWw" target="_blank">https://www.youtube.com/channel/UCgFhH9Q6x4Z8Hj9t9UBoxWw</a>
        </div>
    </div>
</div>