<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSkills</title>
    <link rel="shortcut icon" type="image/png" href="~/images/logo.jpeg" />

    <link rel="stylesheet" href="~/custom-layout/lib/bootstrap-v5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/custom-layout/lib/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/custom-layout/css/site-main.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body style="height: 100%; width: 100%;">
    <div id="loading" class="loading-container" style="display: none;">
        <div class="spinner-border text-danger cus-spinner" role="status" style="height: 50px; width: 50px;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/custom-layout/lib/bootstrap-v5/js/bootstrap.min.js"></script>
    <script src="~/custom-layout/lib/jquery-v3.6.0/jquery-3.6.0.min.js"></script>
    <script src="~/custom-layout/lib/html2pdf/html2pdf.bundle.min.js"></script>
    <script src="~/custom-layout/js/site-main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
